@font-face {
  font-family: 'Figtree';
  src: url('./assets/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
}
:root {
  /* COLORS */

  /* BRAND */
  --color-yellow: #f4d04e;

  /* NEUTRAL */
  --color-gray-950: #111111;
  --color-gray-500: #6b6b6b;
  --color-white: #fff;

  /* BACKGROUND */
  --color-background: var(--color-yellow);
  --color-surface: var(--color-white);

  /* TEXT */
  --color-text-primary: var(--color-gray-950);
  --color-text-secondary: var(--color-gray-500);

  /* TYPOGRAPHY */

  /* FONT */
  --font-family: 'Figtree', sans-serif;

  /* FONT WEIGHTS */
  --font-medium: 500;
  --font-extra-bold: 800;

  /* PRESETS */
  --text-preset-1-size: 24px;
  --text-preset-1-line-height: 1.5;
  --text-preset-1-letter-spacing: 0px;
  --text-preset-1-font-weight: var(--font-extra-bold);

  --text-preset-2-size: 16px;
  --text-preset-2-line-height: 1.5;
  --text-preset-2-letter-spacing: 0px;
  --text-preset-2-font-weight: var(--font-medium);

  --text-preset-3-size: 14px;
  --text-preset-3-line-height: 1.5;
  --text-preset-3-letter-spacing: 0px;
  --text-preset-3-font-weight: var(--font-medium);

  --text-preset-3-bold-size: 14px;
  --text-preset-3-bold-line-height: 1.5;
  --text-preset-3-bold-letter-spacing: 0px;
  --text-preset-3-bold-font-weight: var(--font-extra-bold);

  /* SPACING */
  --spacing-300: 24px;
  --spacing-150: 12px;
  --spacing-100: 8px;
  --spacing-50: 4px;
}

/* UTILITIES */
.text-preset-1 {
  line-height: var(--text-preset-1-line-height);
  letter-spacing: var(--text-preset-1-letter-spacing);
  font-weight: var(--text-preset-1-font-weight);
  font-size: clamp(20px, 2vw, var(--text-preset-1-size));
}
.text-preset-2 {
  line-height: var(--text-preset-2-line-height);
  letter-spacing: var(--text-preset-2-letter-spacing);
  font-weight: var(--text-preset-3-font-weight);
  font-size: clamp(14px, 2vw, var(--text-preset-2-size));
}
.text-preset-3 {
  line-height: var(--text-preset-3-line-height);
  letter-spacing: var(--text-preset-3-letter-spacing);
  font-weight: var(--text-preset-3-font-weight);
  font-size: clamp(12px, 2vw, var(--text-preset-3-size));
}
.text-preset-3-bold {
  line-height: var(--text-preset-3-bold-line-height);
  letter-spacing: var(--text-preset-3-bold-letter-spacing);
  font-weight: var(--text-preset-3-bold-font-weight);
  font-size: clamp(12px, 2vw, var(--text-preset-3-bold-size));
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: var(--font-family);
  background-color: var(--color-background);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.card {
  width: clamp(327px, 80vw, 384px);
  background-color: var(--color-surface);
  padding: var(--spacing-300);
  border-radius: 15px;
  box-shadow: 5px 5px 0px 2px #000000;
}

.card__context {
  padding: var(--spacing-300) 0 var(--spacing-300) 0;
}

.card__tag {
  display: inline-block;
  font-weight: var(--text-preset-3-bold-font-weight);
  border: 1px solid var(--color-yellow);
  background-color: var(--color-yellow);
  padding: var(--spacing-50) var(--spacing-150);
  border-radius: 5px;
}

.card__date {
  padding: var(--spacing-150) 0;
}

.card__title {
  padding-bottom: var(--spacing-150);
}

.card__description {
  color: var(--color-text-secondary);
}

.card__author {
  display: flex;
  align-items: center;
  gap: var(--spacing-150);
}

.card__author p {
  font-size: 14px;
}

footer {
  margin: 10px 0 0 0;
}
